# Send only public build inputs to Docker.
**
!Beam.lean
!Beam/**/*.lean
!lakefile.lean
!lake-manifest.json
!lean-toolchain
!LICENSE
!scripts/beam-pool
!scripts/lean-beam
!scripts/beam_pool/*.py
!tests/pool_project/Workload.lean
!tests/pool_project/lakefile.toml
!tests/pool_project/lake-manifest.json
!tests/pool_project/lean-toolchain
